<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://em-content.zobj.net/source/twitter/31/smiling-face-with-smiling-eyes_1f60a.png" type="image/png">
    <title>Congrats</title>
    <style>
        h1{
            margin-bottom: 250px;
        }
        h2, p, a{
            text-align: center;
            font-size: 50px;
        }
        body{
            background-image: url(https://media.istockphoto.com/id/1181871089/vector/garland-with-flags-1.jpg?s=612x612&w=0&k=20&c=j8cVYp9F4G-3pAlkkxoPjqg6Hkarr1cuzJL2QLgocHI=);
        }
    </style>
</head>
<body>
    <h1></h1>
    <h2>Hiiiiiii</h2>
    <p>I see you were allowed in here.</p>
    <p>So you must be someone trustworthy, then. That makes me sooo happy.</p>
    <p><a href="/emailmee">Send me an email</a></p>
    
</body>
</html>